@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #013366;
    --secundario: #545454;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

/* <------------------HEADER-------------------> */
/* .container__header--payments{
    position: fixed;

} */


.content__header,
.container__header--payments {
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blanco);
    padding: 17px 24px;
}

.header__logo,
.header__menu--btn {
    color: var(--primario);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* <------------------PANTALLA INICIO-------------------> */
.main__content--body {
    display: flex;
    width: 100%;
    height: 667px;
    position: relative;

}

.body__background--img {
    width: 100%;
    height: 667px;
    background-size: cover;
    opacity: 0.75;
}

/* <------------------CONTAINER TEXT INICO-------------------> */

.container__text {
    margin: 0 auto;
    position: absolute;
    padding: 24px;
    opacity: 0.75;
    width: 100%;
    background: linear-gradient(180deg, #123262 0%, rgba(18, 50, 98, 0.00) 100%);

}

.container__payments--text0 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 369px;
    gap: 16px;

}

.container {
    opacity: 0.5;
    background: #195DC1;
}

.dots {
    width: 60px;
    height: 8px;
}

.subtitle {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.text {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* <------------------ARROWS-------------------> */
.btn__arrow {
    border: none;
    position: absolute;
    bottom: 50%;
    background: transparent;
    cursor: pointer;
}

.btn__left {
    left: 10px;
}

.btn__right {
    right: 10px;
}

/* <--PADRE----------------CONTAINER SERVICIOS MAIN-------------------> */
.container__main--servicios {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 40px 24px;
}

/* <------------------SECCION NOSOTROS-------------------> */

.container__payments--nosotros {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.text__seccion--nosotros {
    color: #545454;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* <--------CONTAINER SERVICIOS------------> */
.container__servicios,
.container__payments--solutions,
.container__payments--pos {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* <------------------TITULOS-------------------> */

.title__seccion--nosotros,
.title__servicios {
    color: #013366;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: capitalize;
}

/* <------------------SECCION SERVICIOS-------------------> */
.content__processing--main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

/* <-------IMG---------> */
.img__processing,
.img__solutions,
.img__pos {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 8px;
}

.container__processing--text,
.container__solutions--text,
.container__text--pos {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/* <------------------SUBTITLE --DESCRIPTIONS-------------------> */
h3 {
    text-transform: capitalize;
    color: var(--primario);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%
}

.size_16px {
    font-size: 16px;
    color: var(--secundario);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* <-------------------POS SYSTEM------------------> */