@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #013366;
    --secundario: #545454;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

/* <------------------HEADER-------------------> */
.container__header--payments {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: var(--blanco);

}


.content__header {
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blanco);
    padding: 17px 24px;
}

.header__logo,
.header__menu--btn {
    color: var(--primario);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__nav--none {

    display: none;
}

.header__nav--web {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.nav__servicios {
    color: var(--primario);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
}

.link__contact--web {
    background-color: var(--primario);
    padding: 14px 24px;
    border-radius: 8px;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}


/* <------------------PANTALLA INICIO-------------------> */
.container__hero--payments {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0.75;
    background: linear-gradient(180deg, #123262 0%, rgba(18, 50, 98, 0.00) 100%);
}

.img__hero {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.container--absolute {
    width: 100%;
    position: absolute;
    padding: 24px;
}

.text__container--hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title__hero {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.texto__hero {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}


.dots {
    width: 60px;
    height: 8px;
}



/* <------------------ARROWS-------------------> */
.arrow {
    position: absolute;
    bottom: 50vh;
    background: transparent;
    cursor: pointer;
}

.arrow__left {
    left: 10px;
}

.arrow__right {
    right: 10px;
}

/* <--PADRE----------------CONTAINER SERVICIOS MAIN-------------------> */
.container__main--servicios {
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 40px 24px;
}

/* <------------------CONTAINER NOSOTROS-------------------> */

.container__payments--nosotros {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 12px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.10);
}

.text__seccion--nosotros {
    color: #545454;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.container__main--grid {
    display: grid;
    gap: 24px;
}

/* <--------CONTAINER SERVICIOS------------> */
.container__servicios {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.container__payments--solutions,
.container__payments--pos,
.contianer__payments--subs,
.contianer__payments--commerce,
.contianer__payments--analytics {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* <------------------TITULOS-------------------> */

.title__seccion--nosotros,
.title__servicios {
    color: #013366;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: capitalize;
}

/* <------------------CONTENT SECCION SERVICIOS-------------------> */
.content__processing--main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

/* <-------IMG---------> */
.img__processing,
.img__solutions,
.img__pos,
.img__subs,
.img__commerce,
.img__analytics {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 8px;
}

/* <------------------CONTAINER TEXT-------------------> */

.container__processing--text {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-top: 24px;
}

.container__solutions--text,
.container__text--pos,
.container__text--subs,
.container__text--coommerce,
.container__text--analytics {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/* <------------------SUBTITLE --DESCRIPTIONS-------------------> */
h3 {
    text-transform: capitalize;
    color: var(--primario);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%
}

.size_16px {
    font-size: 16px;
    color: var(--secundario);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.text__seccion--analytics {
    font-size: 16px;
    color: var(--primario);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* <------------------CONTAINER WHY-------------------> */
.container__why--blue {
    height: 100%;
    background-color: var(--primario);

}

.container__cards {
    padding: 24px;
    display: grid;
    gap: 24px;
}

.container__cards--padding {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
}

.title__why {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: capitalize;
}

.card__why-segurity {
    background-color: #FFF;
    border-radius: 8px;
    padding: 32px;
    gap: 16px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.why__logo {
    width: 50px;
    height: 50x;
}

.subtitle__why {
    color: var(--primario);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.description__why {
    color: var(--secundario);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* <------------------CONTACT US-------------------> */

.container__contact--spaces {
    padding: 24px 40px;
    gap: 40px;
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}

.container__contact {
    display: inline-flex;
    gap: 24px;
    flex-direction: column;
}

.title__contact {
    color: var(--primario);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: capitalize;
}

.description__contact {
    color: var(--secundario);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mail,
.call {
    color: var(--primario);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.contact__mail--flex,
.contact__call--flex {
    display: flex;
    gap: 8px;
}

.icon_contact {
    width: 24px;
    height: 24px;
}

.container__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);
    padding: 32px;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    color: var(--secundario);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

input {
    height: 50px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid rgba(1, 51, 102, 0.35);
    background: #FFF;
}

.container__checkbox-btnsubmit {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container__ctas {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkbox {
    display: flex;
    gap: 12px;
    align-items: center;
}

.btn__validacion {
    width: 20px;
    height: 20px;
}

.robot--text {
    color: var(--primario);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn__submit {
    width: 100%;
    border-radius: 8px;
    background: var(--primario);
    display: flex;
    gap: 10px;
    align-self: stretch;
    padding: 14px 24px;
}

.submit {
    color: #FFF;
    margin: 0 auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/* <-------------------FOOTER-----------------> */
.container__footer--bkblue {
    background-color: var(--primario);
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    gap: 60px;
}

.footer__nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

.footer__servicios {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.footer__logo {
    width: 170px;
}

.footer__servicios>a {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.footer__contact-us {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.redes {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.contact-us {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact-us>p {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* <-------------------MEDIAS QUERIES-----------------> */


@media screen and (min-width: 1024px) {

    .content__header {
        max-width: 1000px;
        margin: 0 auto;
        padding: 17px 0;
    }

    .header__nav--none {
        display: flex;
    }

    .header__menu--btn {
        display: none;
    }

    .text__container--hero {
        max-width: 400px;
    }

    .container--absolute {
        position: absolute;
        width: 1000px;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 24px;
    }

    .container__payments--nosotros {
        padding: 40px;
        margin: 0 auto;
        max-width: 1000px;
    }

    .container__main--grid {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 1000px;
    }

    .container__servicios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 24px;
    }

    .container__main--servicios {
        gap: 80px;
        display: flex;
        padding: 60px;
    }

    /* <--------Why Choose Us------> */
    .container__why--blue {
        display: flex;
        justify-content: center;
        padding: 80px;
    }

    .container__cards {
        padding: 0;
    }

    .container__cards--padding {
        padding: 0;
        width: 1000px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 24px;
    }

    /* <------form-------> */
    .container__contact--spaces {
        width: 1000px;
        display: grid;
        justify-content: center;
        margin: 0 auto;
        padding: 80px 0;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .container__contact {
        display: flex;
        justify-content: center;
    }

    .form__names,
    .form__contact,
    .form__monthly {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .container__checkbox-btnsubmit {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    /* <------footer-------> */
    .footer {
        display: flex;
        width: 1000px;
        flex-direction: row;
        margin: 0 auto;
        padding: 70px 0;
    }
    .footer__nav{
        gap: 16px;
    }

    .footer__servicios {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

}